body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  background-color: #4caf50;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 24px;
  position: relative;
}

#checkInContainer,
#calendarContainer {
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  background-color: white;
  text-align: center;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  display: block;
  margin: 0 auto;
  width: auto;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
